.tree .tree-actions {
    display: none;
    position: absolute;
    margin-top: 1px;
    right: 4px;
}
.tree .tree-actions .fa {
    cursor: pointer;
}

.tree .tree-item:hover .tree-actions,
.tree .tree-branch-header:hover .tree-actions {
    display: inline-block;
}

.tree .tree-actions > i {
    font-weight: 300;
    padding: 1px 3px;
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-right: 6px;
    margin-top: 0px;
    display: inline-block;
}

.tree .tree-actions > i:hover {
    color: #666;
}
.tree .item-check {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tree li.tree-branch .tree-branch-header .item-check:before, .tree li.tree-item .item-check:before {
    font-family: "fuelux";
    content: "\e009";
}
.tree li.tree-branch[selected] .tree-branch-header .item-check:before, .tree li.tree-item[selected] .item-check:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}